<div class="container" style="background-color: white;">
    <div class="row">
        <button class="backBtn" (click)="back()">
            <img src="../../../assets/images/backBtn.gif" class="backIcon"/>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bookCard" (click)="redirectToBookGuide()">
                <div class="cardContent">
                    <img src="../../../assets/images/book.png" alt="Book Travel Guide" width="200px" height="200px" />
                    <h1>Book Travel Guides</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bookCard" (click)="redirectToBookedGuides()">
                <div class="cardContent">
                    <img src="../../../assets/images/bookedGuide.png" alt="Book Travel Guide" width="420px" height="200px" />
                    <h1>Travel Guides You Booked</h1>
                </div>
            </div>
        </div>
    </div>
</div>
