.bookCard{
    margin-top: 2em;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.619);
    padding: 30px 0px;
}

.bookCard:hover{
    box-shadow: 0px 0px 12px rgb(128, 128, 128);
}

.cardContent{
    margin: auto;
}

.backBtn{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(128, 128, 128);
    padding: 15px;
    margin-top: 2em;
}

.backBtn:hover{
    border: 2px solid black;
}

.backIcon{
    width: 20px;
}

.backLabel{
    font-size: 25px;
    margin-left: 15px;
    color: gray;
}