<!-- <h1>Management System</h1>

<nav *ngIf="nav">
  <a routerLink="/addTravelGuide">Add Travel Guide</a>
  <a routerLink="/travelGuide">Travel Guide</a>
  <a routerLink="/updateTravelGuide">Update Travel Guide</a>
</nav> -->
<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #D2691E;" *ngIf="nav">
  <a class="navbar-brand ch">
    <img src="../assets/Images/logo.png" width="60" height="60" class="" alt="">
    Trip Master
  </a>


  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="btn btn-danger logout" (click)="logout()">Logout</a>
    </li>
  </ul>

</nav>


<router-outlet></router-outlet>
<!-- Router Views go here | when type specific url it goes to that page-->