<div class="container-fluid add_container_fluid">
    <div class="row login_row justify-content-center align-items-center">
        <div class="col-4 login_card">
            <form>
                <h3 class="text-center">Admin Login</h3>

                <span style="color: red;" id="emails"></span>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    <input name="n1" (keyup)="emialvalidate($event)" [(ngModel)]="email" id="email" type="text"
                        class="form-control" placeholder="Email" aria-label="Driver Name"
                        aria-describedby="basic-addon1">
                </div>

                <span style="color: red;" id="passs"></span>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                    <input name="n2" [(ngModel)]="password" id="pass" type="password" class="form-control"
                        placeholder="Password" aria-label="Driver Name" aria-describedby="basic-addon1">
                </div>


                <h2 class="text-center"><button class="btn btn-primary" (click)="login()">Login</button></h2>
            </form>
        </div>
    </div>
</div>