<div class="container-fluid all_container_fluid">
    <div class="row justify-content-center">
        <h1 class="text-center">All Vehicle List</h1>
        <h1 class="text-left"><button (click)="goback()" class="btn btn-warning"><i
                    style="font-size: 20px;color: white;" class="fa-solid fa-circle-left"></i></button></h1>
        <div class="col-3 filter_menu">
            <div class="row">

                <h5 class="text-center">Filter By Type</h5>

                <div class="col-6 radio_div mb-1">
                    <label>Car</label><input class="m-4" name="type" type="radio" id="r1" (change)="filterType($event)"
                        value="Car" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>SUV</label><input class="m-4" name="type" type="radio" id="r2" (change)="filterType($event)"
                        value="SUV" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Jeep</label><input class="m-4" name="type" type="radio" (change)="filterType($event)"
                        value="Jeep" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Van</label><input class="m-4" name="type" type="radio" (change)="filterType($event)"
                        value="Van" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Bus</label><input class="m-4" name="type" type="radio" (change)="filterType($event)"
                        value="Bus" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Mini Van</label><input class="m-4" name="type" type="radio" (change)="filterType($event)"
                        value="mvan" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Pickup</label><input class="m-4" name="type" type="radio" (change)="filterType($event)"
                        value="Pickup" />
                </div>



            </div>
            <div class="row">
                <h5 class="text-center mt-2">
                    Filter By Brand
                </h5>
                <div class="col-6 radio_div mb-1">
                    <label>Nissan</label><input class="m-4" name="brand" type="radio" (change)="filterBrand($event)"
                        value="Nissan" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Toyota</label><input class="m-4" name="brand" type="radio" (change)="filterBrand($event)"
                        value="Toyota" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Audi</label><input class="m-4" name="brand" type="radio" (change)="filterBrand($event)"
                        value="Audi" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Benz</label><input class="m-4" name="brand" type="radio" (change)="filterBrand($event)"
                        value="Benz" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Mazda</label><input class="m-4" name="brand" type="radio" (change)="filterBrand($event)"
                        value="Mazda" />
                </div>
                <div class="col-6 radio_div mb-1">
                    <label>Tesla</label><input class="m-4" name="brand" type="radio" (change)="filterBrand($event)"
                        value="Tesla" />
                </div>

            </div>


            <div class="row">
                <h5 class="text-center mt-2">
                    Filter By price
                </h5>
                <div class="col-10">
                    <div class="input-group mb-3">

                        <input type="number" required class="form-control" [(ngModel)]="price"
                            placeholder="Max Price per 1Km" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-warning" type="submit" (click)="filterPrice()"
                            id="button-addon2">Filter</button>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 col-11" *ngFor="let vehicle of vehicles">
                    <app-vehicle-card [data]="vehicle"></app-vehicle-card>
                </div>
            </div>
        </div>




    </div>
</div>