<div class="container container-main">
    <h2>Add Travel Guide</h2>
    <div class="form-div-above">
        <form [formGroup]="addTravelGuideForm" (ngSubmit)="addGuide()">
            <div class="row">
                <div class="col first-col">
                    <label for="name">Name</label>
                    <input type="text" name="name" formNameControl="name" id="name" placeholder="Enter Name" required/>
                    <br>
                    <span style="color: red;" *ngIf="name && name.invalid && name.touched">Enter Name with minimus 3 character</span>
                    <br>
                    <label for="name">Age</label>
                    <input type="text" name="age" formNameControl="age" id="age" placeholder="Enter Name" required/>
                    <br>
                    <span style="color: red;" *ngIf="age && age.invalid && age.touched">Enter Age (Do not enter negative values)</span>
                    <br>
                    <label for="name">Experience Level</label>
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col second-col">
                    <div class="row">
                        <div class="col">
                            <label *ngIf="proimage !== null && proimage.valid; else imageError;">Upload Profile Picture</label>
                            <ng-template #imageError>
                                <label style="color: red;">Please upload Profile Image</label>
                            </ng-template>
                        </div>
                        <div class="col">
                            <label for="proimage">
                                <input type="file" accept="image/*" name="proimage" formControlName="proimage" id="proimage" class="pro-Pic-Upload" (change)="getProImage($event)" required>
                                <!-- <img id="proPic" class="pro-pic button-shadow" [src]="travel_pro_image" /> -->
                                <img id="proPic" [ngClass]="profilePicture" *ngIf="proimage" [src]="travel_pro_image" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Languages Speaking</label>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" id="languages-sin" name="languages" class="languages-check" />
                                </div>
                                <div class="col">
                                    <p class="language">Sinhala</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" id="languages-sin" name="languages" class="languages-check" />
                                </div>
                                <div class="col">
                                    <p class="language">English</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" id="languages-sin" name="languages" class="languages-check" />
                                </div>
                                <div class="col">
                                    <p class="language">Tamil</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" id="languages-sin" name="languages" class="languages-check" />
                                </div>
                                <div class="col">
                                    <p class="language">French</p>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button [disabled]="addTravelGuideForm.invalid" class="btn button-shadow">Add Travel Guide</button>
            </div>
        </form>
    </div>
</div>
