.container-main{
    padding-top: 50px;
}

.bookedGuideCard{
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.575);
    margin-bottom: 10px;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 20px;
    color: darkblue;
}

.deleteBtn{
    background-color: rgb(198, 0, 0);
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 15px;
}

.deleteBtn:hover{
    background-color: rgb(105, 1, 1);
}

img{
    margin: auto;
    position: fixed;
    top: 10em;
    width: 600px;
}

.backBtn{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(128, 128, 128);
    margin-bottom: 10px;
    padding: 15px;
}

.backBtn:hover{
    border: 2px solid black;
}

.backIcon{
    width: 20px;
}

.backLabel{
    font-size: 25px;
    margin-left: 15px;
    color: gray;
}