.container-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/Images/main.jpg');
    background-size: cover;
    height: 100vh
}

.logo {
    color: white;
    font-size: 100px !important;
    font-family: 'Merienda', cursive;
}

h4 {
    color: white;
    font-family: 'Merienda', cursive;
}

.t1 {
    font-size: 25px !important;
    cursor: pointer;
}

.t2 {
    font-size: 25px !important;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.t1:hover {
    font-size: 30px !important;
}

.t2:hover {
    font-size: 30px !important;
}