<div class="container-fluid">
    <div class="row justify-content-center">
        <div class=" col-12 mt-5">
            <h1 class="text-center logo">Trip Master</h1>
            <div class="row justify-content-center mt-5">

                <div class="col-2 m-3" (click)="userlogin()">
                    <img class="img-fluid d-block im1" src="../../assets/Images/cus.png" />
                    <h4 class="text-center t1">Traveler</h4>
                </div>

                <div class="col-3 m-4 mt-5" (click)="adminlogin()">
                    <img class="img-fluid d-block im2" src="../../assets/Images/admin.png" />
                    <h4 class="text-center t2">Admin</h4>
                </div>

            </div>

        </div>
    </div>

</div>