.container-main{
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-top: 30px;
    /* background-image: url(../../assets/images/travel-guide-all.jpg); */
  }

  .travelGuideCard{
    box-shadow: 0px 0px 5px gray;
    width: 95%;
    padding: 20px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.749);
}

.travelGuideCard img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.travelGuideCard:hover{
    box-shadow: 0px 0px 15px rgb(84, 84, 84);
}

.btnAll{
    color: white;
    border: 0px;
    box-shadow: 0px 0px 3px grey;
    padding: 3px 6px;
    border-radius: 5px;
    width: 100px;
    margin-top: 20%;
 }
 
.btnAll:hover{
    background-color: lightskyblue;
    color: darkblue;
 }

 .btnDiv{
    width: 110px;
    height: 40px;
    margin: auto auto;
} 

.formCard{
    padding: 20px 50px;
}

input{
    width: 100%;
    padding: 3px 30px;
}

.backBtn{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(128, 128, 128);
    margin-bottom: 10px;
    padding: 15px;
}

.backBtn:hover{
    border: 2px solid black;
}

.backIcon{
    width: 20px;
}

.backLabel{
    font-size: 25px;
    margin-left: 15px;
    color: gray;
}