<div class="container container-main">
    <button class="backBtn" (click)="back()">
        <img src="../../../assets/images/backBtn.gif" class="backIcon"/>
    </button>
    <span class="backLabel">Back</span>
    <h1>Book You Travel Guide</h1>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="card formCard">
                <form (ngSubmit)="bookGuide()">
                    <label for="guideName">Name</label><br>
                    <input type="text" id="guideName" disabled value="{{guide.guideName}}" />
                    <span id="nameError"></span>
                    <br><br>
                    <label for="guideName">Booking Start Date</label><br>
                    <input type="date" id="startDate" (change)="startDate($event)" />
                    <span id="startError"></span>
                    <br><br>
                    <label for="guideName">Booking End Date</label><br>
                    <input type="date" id="endDate" (change)="endDate($event)" />
                    <span id="endError"></span>
                    <br><br>
                    
                    <button type="submit" id="bookGuideBtn" class="btn btn-primary">Book Your Guide</button>
                    <br><br>
                </form>
            </div>
        </div>
        <div class="col">
            <h3>Number of days for Booking</h3>
            <h5>{{guide.noOfDays}}</h5>
            <h3>Price For Your Booking</h3>
            <h5>{{"Rs." + guide.price + "/="}}</h5>
        </div>
    </div> 
    <div class="row">
        <div class="grid-container">
            <div *ngFor="let guide of travelGuides;">
                <div class="travelGuideCard">
                    <div class="row">
                        <div class="col">
                            <img src={{guide.guideImage}} />
                            <div class="btnDiv">
                                <button class="btnAll btn btn-primary" (click)="selectGuide(guide.guideId)">Select Guide</button>
                            </div>
                        </div>
                        <div class="col">
                            <h6>{{guide.guideName}}</h6>
                            <p>Experience Level: {{guide.guideLevel}}</p>
                            <p>Age: {{guide.age}}</p>
                            <div>Languages:
                                <div *ngFor="let l of guide.languages;">
                                    {{l}}
                                </div>
                            </div>    
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
