<div class="container container-main">
    <div class="row">
        <button class="backBtn" (click)="back()">
            <img src="../../../assets/images/backBtn.gif" class="backIcon"/>
        </button>
    </div>
    <div class="row">
        <div class="col first-col">
            <h1>Update Travel Guide</h1>
        </div>
        <div class="col second-col">
            <label for="proimage">
                <p>Update Image</p>
                <input type="file" accept="image/*" name="proimage" id="proimage" class="pro-Pic-Upload" [(ngModel)]="guide.guideImage" (change)="getProImage($event)" required />
                <!-- <img id="proPic" class="pro-pic button-shadow" [src]="guide.guideImage" /> -->
                <img id="proPic" class="pro-pic button-shadow" [src]="travel_pro_image" />
            </label><br>
            <label for="">Name</label>
            <input type="text" name="" id="" class="" value="{{guide.guideName}}" [(ngModel)]="guide.guideName" />
            <label for="">Age</label>
            <input type="number" name="" id="" value="{{guide.age}}" [(ngModel)]="guide.age" class="" />
            <label for="">Experience Level</label>
            <select name="" id="" [(ngModel)]="guide.guideLevel">
                <option selected value="{{guide.guideLevel}}">{{guide.guideLevel}}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label>Languages</label>
            <div class="row" *ngFor="let l of langList;">
                <div class="col-4">
                    {{l.label}}<input type="checkbox" class="checkbox" [(ngModel)]="l.isChecked" (change)="languagesChecked()" /><br>
                </div>
            </div>
            <div>
                <button type="submit" class="updateBtn" (click)="updateGuide()">Update</button>
            </div>
        </div>
    </div>
</div>
