<div class="container-fluid add_container_fluid">
    <div class="row">
        <div class="col-6 pic_div">
            <div class="row justify-content-center mt-2">
                <div class="col-10">
                    <img src="http://localhost:8070/image/{{mimage}}" width="450" height="300">
                </div>
                <div class="col-9">
                    <div class="row mt-2">
                        <div class="col-4">
                            <img src="http://localhost:8070/image/{{fimage}}" (click)="changepic('f')" width="120"
                                height="100">

                        </div>

                        <div class="col-4">
                            <img src="http://localhost:8070/image/{{bimage}}" (click)="changepic('b')" width="120"
                                height="100">

                        </div>

                        <div class="col-4">
                            <img src="http://localhost:8070/image/{{iimage}}" (click)="changepic('i')" width="120"
                                height="100">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-5">
            <div class="row justify-content-center">
                <div class="col-10 book_form">
                    <table class="table">
                        <tr>
                            <td>Brand</td>
                            <td>{{vehicle.brand}}</td>
                        </tr>

                        <tr>
                            <td>Type</td>
                            <td>{{vehicle.type}}</td>
                        </tr>

                        <tr>
                            <td>Capacity</td>
                            <td>{{vehicle.capacity}}</td>
                        </tr>

                        <tr>
                            <td>Cost (per 1Km)</td>
                            <td>{{vehicle.price}}</td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center">Services</h3>
                            <h4 class="text-center"
                                *ngIf="vehicle.ac == 'n' && vehicle.food == 'n' && vehicle.babyseat == 'n' && vehicle.music == 'n' && vehicle.fridge == 'n';">
                                No Any service Available
                            </h4>
                            <div class="row services justify-content-center">

                                <div class="col-4" *ngIf="vehicle.ac==='y';">
                                    <div class="row justify-content-center">
                                        <h6 class="text-center">Full AC</h6>
                                        <div class="col-6">
                                            <i class="fas fa-fan"></i>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-4" *ngIf="vehicle.food==='y';">
                                    <div class="row justify-content-center">
                                        <h6 class="text-center">Bevarages</h6>
                                        <div class="col-6">
                                            <i class="fas fa-hamburger"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-4" *ngIf="vehicle.music==='y';">
                                    <div class="row justify-content-center">
                                        <h6 class="text-center">Music</h6>
                                        <div class="col-6">
                                            <i class="fas fa-music"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-4" *ngIf="vehicle.babyseat==='y';">
                                    <div class="row justify-content-center">
                                        <h6 class="text-center">Baby Sheet</h6>
                                        <div class="col-6">
                                            <i class="fas fa-baby"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-center"> <button (click)="bookvehicle()" class="btn btn-warning">Book
                                        this Vehicle</button></h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>