<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Plan Your Vacation</h1>
            <div class="row justify-content-center">
                <div class=" col-3 m-4">
                    <div class="card" (click)="showplace()" *ngIf="!havetrip;else elses">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Select Destinations</h4>
                        </div>

                    </div>

                    <ng-template #elses>
                        <div class="card" (click)="showplace()">
                            <div class="row justify-content-center">
                                <div class="col-6 mt-5">
                                    <img src="http://localhost:8070/image/{{pic}}" class="img-fluid b-block" />
                                </div>
                            </div>
                            <div class="row mt-5 mb-4">
                                <h4 class="text-center">Places Selected</h4>
                            </div>

                        </div>
                    </ng-template>
                </div>


                <div class="col-3 m-4">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Select Tour Guide</h4>
                        </div>

                    </div>
                </div>


                <div class="col-3 m-4">
                    <div *ngIf="!have;else elseb" class="card" (click)="showvehicle()">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Select vehicle</h4>
                        </div>

                    </div>

                    <ng-template #elseb>
                        <div class="card" (click)="showvehicle()">
                            <div class="row justify-content-center">
                                <div class="col-6 mt-5">
                                    <img src="http://localhost:8070/image/{{vehicle.mimage}}"
                                        class="img-fluid b-block" />
                                </div>
                            </div>
                            <div class="row mt-5 mb-4">
                                <h4 class="text-center">Vehicle Selected</h4>
                            </div>

                        </div>
                    </ng-template>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class=" col-3 m-4">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-box-archive"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Packge Management</h4>
                        </div>

                    </div>
                </div>


                <div class="col-3 m-4">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-plane"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Select Flight</h4>
                        </div>

                    </div>
                </div>




            </div>
            <h1 class="text-center"><button class="btn btn-primary">Confirm Booking</button></h1>
        </div>
    </div>
</div>