<div class="row card rounded vehicle_card m-1 justify-content-center">
    <div class="col-12">
        <div class="row justify-content-center">


            <img class="img-fluid d-block col-xl-9 col-lg-7 col-md-8 col-sm-8 col-8"
                src="../../assets/Images/{{imgname}}" />



        </div>
        <div class="col-12">
            <div class="row justify-content-center">

                <div class="card-image-overlay  col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8">
                    <span class="card-detail-badge">New</span>
                    <span class="card-detail-badge">Rs.80/Km</span>
                    <span class="card-detail-badge">VVIP</span>

                </div>
            </div>

        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>Mercedes benz</h5>
                        </div>
                        <a class="ad-btn" routerLink="/onevehicle">View</a>

                    </div>
                </div>
            </div>
        </div>




    </div>