<div class="container container-main">
    <div class="row">
        <button class="seeGuidesBtn" (click)="redirectAddGuides()">Add Travel Guides</button>
    </div>
    <h2>See All Travel Guides</h2>
    <div class="grid-container">
        <div *ngFor="let guide of travelGuides;">
            <div class="travelGuideCard">
                <div class="row">
                    <div class="col">
                        <img src={{guide.guideImage}} />
                        <div class="btnDiv">
                            <button class="btnAll updateBtn" routerLink="/updateTravelGuide/{{guide.guideId}}">Update</button>
                        </div>
                        <div class="btnDiv">
                            <button class="btnAll deleteBtn" (click)="deleteGuide(guide.guideId)">Delete</button>
                        </div>
                    </div>
                    <div class="col">
                        <h5>{{guide.guideName}}</h5>
                        <p>Experience Level: {{guide.guideLevel}}</p>
                        <p>Age: {{guide.age}}</p>
                        <div>Languages:
                            <div *ngFor="let l of guide.languages;">
                                {{l}}
                            </div>
                        </div>    
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
