<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="color: white;">Admin Dashboard</h1>
            <div class="row justify-content-center">
                <div class=" col-3 m-4">
                    <div class="card" (click)="showplace()">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-map-location-dot" style="color: #FF6347;"></i>
                            </div>
                        </div>
                        <div class=" row mt-5 mb-4">
                            <h4 class="text-center">Manage Destinations</h4>
                        </div>

                    </div>
                </div>


                <div class="col-3 m-4">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-user-tie" style="color: #EE82EE;"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Manage Tour Guide</h4>
                        </div>

                    </div>
                </div>


                <div class="col-3 m-4">
                    <div class="card" (click)="showvehicle()">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-car" style="color: #40E0D0;"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Manage vehicle</h4>
                        </div>

                    </div>


                </div>

            </div>

            <div class="row justify-content-center">
                <div class=" col-3 m-4">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-box-archive" style="color: #98FB98;"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Manage Packges</h4>
                        </div>

                    </div>
                </div>


                <div class="col-3 m-4">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-4 mt-5">
                                <i class="fa-solid fa-plane" style="color: #FFC0CB;"></i>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <h4 class="text-center">Manage Flight</h4>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>
</div>